.nav {
  z-index: 1000;
  padding: 1vmax;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 0.1px solid rgba(215, 200, 200, 0.615);
}

.logo {
  background-color: rgb(232, 81, 26);
  width: 56px;
  height: 56px;
  border-radius: 22px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  right: 7vmax;
}

#logoImage {
  transition: all 0.2s;
  transform: translateX(-56px);
}

#logoImage:hover {
  transform: translateX(0);
}

.links {
  position: relative;
  right: 7vmax;
}

.navlinks {
  color: rgb(73, 61, 61);
  text-decoration: none;
  margin: 0.9vmax 1.2vmax;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1.1vmax;
}

.navlinks:hover {
  color: orangered;
  text-decoration: none;
}

.searchbox {
  position: relative;
  left: 1vmax;
  cursor: pointer;
}

.searchbox > input {
  font-weight: 100;
  font-size: 1vmax;
  border: none;
  border-bottom: 1px solid rgb(86, 77, 77);
  width: 15vmax;
  outline: none;
}

.searchbox > svg {
  fill: rgb(86, 77, 77);
}
