.NavCard {
  width: 10vmax;
  text-align: center;
  cursor: pointer;
}

.NavCard > img {
  width: 10vmax;
  margin: 0 0 0.6vmax 0;
}

.NavCard > p {
  margin: 0;
}

.NavCard > span {
  color: orangered;
}
